* {
    margin:auto;  
    box-sizing: border-box;
}

body {
    background-color:rgb(243, 243, 243);
    font-family:'Inter', sans-serif;
}

main {
    background-color: white;
    margin:auto;
    width: 50%;
}

header{
    height: 40px;
    background-color: white;
    position: relative;
    padding: 0 20px;
}


#logo_toboolist {
    height: 40px;
}

#button_container {
    width: 100%;
    margin:20px;
    
}

.button_task{
    padding: 5px 15px;
    background-color: rgb(130, 209, 255);
    border-radius: 10px;
    border: none;  
}
.button_section{
    padding: 5px 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;

}

.correct {
    height: 20px;
    width: 20px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    font-size: 20px;
    padding: 2px 4px;
}
.incorrect {
    height: 20px;
    width: 20px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    font-size: 20px;
    padding: 2px 4px;
}

ul{
    list-style: none;
    margin-bottom: 20px;
}

.editorial {
    background-color: rgb(212, 52, 218);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
}

.q1goals {
    background-color: rgb(226, 105, 125);
    color:white;
    border:none;
    border-radius: 15px;
    padding: 5px 15px;
}

.recruiting {
    background-color: rgb(116, 184, 28);
    color:white;
    border:none;
    border-radius: 15px;
    padding: 5px 15px;
}

.mobile {
    background-color: rgb(255, 115, 34);
    color:white;
    border:none;
    border-radius: 15px;
    padding: 5px 15px;
}

.website {
    background-color: rgb(211, 214, 52);
    color:white;
    border:none;
    border-radius: 15px;
    padding: 5px 15px;
}

.sales {
    background-color: rgb(206, 27, 27);
    color:white;
    border:none;
    border-radius: 15px;
    padding: 5px 15px;
}