* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {background-color:rgba(255, 255, 255, 0.589)
}


.header_container {
    width: 100%
    margin: 0 auto;
    color: white;
}


#logo_toboolist {
    height: 30px;
}

#button_container {
    width: ;80%;
    margin:0;
}

.button_task{
    background-color: aquamarine;
}

.button_section{
    background-color: white;
}